
.blue-4 {
    background-color: #69b1ff;
}
.blue-5 {
    background-color: #4096ff;
}
.blue-6 {
    background-color: #1677ff;
    color: white; 
}
.blue-7 {
    background-color: #0958d9;
    color: white; 
}